PROJECT_NAME="Smart Health Grid Backend"
ENVIRONMENT="development"
DEBUG=True

# Database (PostgreSQL default)
DATABASE_URL="postgresql+asyncpg://shg_user:shg_pass@localhost:5433/smart_health_grid"
DATABASE_URL_SYNC="postgresql+psycopg2://shg_user:shg_pass@localhost:5433/smart_health_grid"

# Database (MySQL alternative)
# DATABASE_URL="mysql+aiomysql://shg_user:shg_pass@localhost:3307/smart_health_grid"
# DATABASE_URL_SYNC="mysql+pymysql://shg_user:shg_pass@localhost:3307/smart_health_grid"

SECRET_KEY="db5198cc5914238ea1dd60925850dd73fd46d1b74edbc57ca48f8abca3fc0076"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60

GEMINI_API_KEY=""